<header class="site-header">

  <div>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  

    {%- if titles_size > 0 -%}
      <nav class="top">
        <h5 class="max"> <a rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h5>
     
         
            <button class="transparent">
              <span>Menú</span>
              <i> <i>more_vert</i></i>
              <menu class="left no-wrap">
                {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <a class="max" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                {%- endif -%}
                {%- endfor -%}
              </menu>
            </button>
            
           
       
      </nav>
    {%- endif -%}
  </div>
</header>
